html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

a{
  text-decoration: none;
  font-weight: 500;
  color: #000;
}

.container{
  width: 1200px;
  margin: 0 auto;
}