html {
  background-color: #090909;
  font-family: sans-serif;
  color:#f2f2f2;
}

body {
  margin: 0 auto;
  width: 100%;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

a{
  text-decoration: none;
  font-weight: 500;
  color: #f2f2f2;
}

html.dark {
  background-color: #0d0950;
  color: #fff;
}

.dark .menu {
  background-color: #fff;
  color: #000;
}

.dark .nav-links a:hover,
.dark .nav-links a:focus {
  color: #0d0950;
}

.dark .nav-links a {
  color: #fff;
}

.dark a {
  color: #ff9776;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.content{
  min-height: 80vh;
}

.row{
  display: flex;
}

.menu {
  background-color: #0d0950;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 10px;
}

:has(.menu[aria-expanded="true"]) .nav-links {
  display: unset;
}

@media(max-width:1200px){
  .content{
    padding:10px;
  }
}

@media(min-width:768px){
    .menu{
      display: none;
    }
  }