---
import BaseLayout from '../layouts/BaseLayout.astro';
import PageLayout from '../layouts/PageLayout.astro';
import '../styles/global.css';
const pageTitle = "Blog Archive";
---
<BaseLayout>
	<PageLayout pageTitle = {pageTitle}>
		<p>There'll be blogposts!</p>
		<ul>
			<li><a href="/posts/post-1">Post 1</a></li>
			<li><a href="/posts/post-2">Post 2</a></li>
			<li><a href="/posts/post-3">Post 3</a></li>
		</ul>
	</PageLayout>
</BaseLayout>