---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageLayout from "../layouts/PageLayout.astro";

const pageTitle = "Homepage";
---
<BaseLayout>
	<PageLayout pageTitle = {pageTitle}>
		<h2>Hej</h2>
	</PageLayout>
</BaseLayout>
