---
import Navigation from "./Navigation.astro";
import Menu from "./Menu.astro";

---
<style>
  header{
    border: 2px solid #f2f2f2;
  }

</style>
<header>
  <nav>
    <Menu />
    <Navigation />
  </nav>
</header>